<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>腾讯云CityBase积木平台忘记密码验证码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div>
        <includetail>
            <div align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="font-size: 18px; font-family: 'Microsoft YaHei';background-color: #F2F2F2;">
                    <tbody>
                        <tr>
                            <td align="center" style="padding-top: 30px;">
                                <p style="margin: 0;line-height: 80px;text-indent: 2em;font-size: 18px;font-weight: 700;">
                                    腾讯云CityBase
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="960" style="background-color: #ffffff;">
                                    <tbody>
                                        <tr>
                                            <td style="padding: 0 40px;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" style="padding-top: 28px; ">
                                                                <p th:text="${username}" style="color: #000000;font-size: 16px;font-weight: 400;">
                                                                    尊敬的 CityBase用户：
                                                                    <!-- 需要变量${username} -->
                                                                </p>
                                                                <p style="font-size: 14px;font-weight: 400;color: #666666;">
                                                                    请输入下方验证码，找回您的密码。
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="padding: 40px 0; ">
                                                                <div style="width:239px;height:50px;display:flex;align-items:center;justify-content:center;">
                                                                    <span th:text="${verifyCode}" id="verifyCode" style="font-size: 30px;color: #fff !important;font-weight: 400;text-align: center;width:140px;background-color: rgba(0, 110, 255, 1); text-decoration: none;">332323 <!-- 需要变量${code}代替 -->
                                  </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="padding: 20px 0; ">
                                                                <span style="font-size: 10px;color: #666666;"> 如果您并未启动密码找回流程，则可能是其他人在尝试访问您的帐户。请勿将此验证码转发给或提供给任何人。请注意：该验证码将在10分钟后过期，请尽快验证！</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="640">
                                    <tbody>
                                        <tr>
                                            <td style="padding: 0 40px;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr style="padding:5px 0">
                                                            <td align="center" style="font-size: 12px;color: #666666;padding-top:5px">
                                                                <span>邮件来自腾讯云CityBase团队的自动提醒，无需回复。</span>
                                                                <br/>
                                                                <span>如果有任何产品问题或建议，欢迎联系官方公众号：腾讯数字孪生世界</span>
                                                            </td>
                                                            <td align="center" style="font-size: 12px;color: #666666;padding-top:5px">
                                                                <img src="https://citybase-fe-1301743406.cos.ap-guangzhou.myqcloud.com/qrcode.jpg" width="80" height="80" alt="腾讯数字孪生世界">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </includetail>
    </div>

    <script lang="javascript">
        var codeCopy = document.getElementById('codeCopy');
        codeCopy.addEventListener('click', () => {
            var content = document.getElementById('verifyCode').innerHTML;
            const input = document.createElement('input');
            input.setAttribute('readonly', 'readonly');
            document.body.appendChild(input);
            input.setAttribute('value', content);
            input.select();
            if (document.execCommand('copy')) {
                document.execCommand('copy');
                console.log(content, '复制成功');
            }
            document.body.removeChild(input);
        })
    </script>
</body>

</html>