$sideBarWidth: 200px;
$navBarHeight: 50px;

$navBarBgcolor: #262626; // 顶部导航栏背景色
$sideBarBgcolor: #f2f2f2; // 侧边导航栏背景色
$logoBarBgcolor: $navBarBgcolor;

$routerUlBgcolor: rgba(0,0,0,0.8);
$routerLiBgcolor: rgba(0,0,0,0.7);
$routerActiveBgcolor: #006eff;
$routerActiveColor: #ffffff;
$routerHoverBgcolor: #262f3e;

$contentBgcolor: #ffffff; // 内容区背景色

$breadCurmbColor: #ffffff;

:export {
  sideBarWidth: $sideBarWidth;
  navBarHeight: $navBarHeight;
  navBarBgcolor: $navBarBgcolor;
  sideBarBgcolor: $sideBarBgcolor;
  contentBgcolor: $contentBgcolor;
}
