// 状态标识色
$normal:#0ABF5B; // 状态正常
$warning:#FF9D00; // 警告状态
$danger:#E54545; // 状态危险
$primary:#006EFF; // 普通状态

// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
